---
import "./Statistics.css"
import Carousel from "../../../../shared/ui/Carousel/index.astro"
---

<section
	class="about-us__statistics | ff-primary text-neutral-100 bg-primary-400"
>
	<div class="about-us__statistics-indicator | fs-carousel-indicator fw-light">
		<Carousel
			direction="to top"
			trackOptions={{
				type: "infinite",
				showNavButtons: false,
				autoSlideDelay: 4000
			}}
		>
			<div>
				<p>01</p>
			</div>
			<div>
				<p>02</p>
			</div>
			<div>
				<p>03</p>
			</div>
		</Carousel>
	</div>
	<div class="about-us__statistics-percentaje | fs-carousel-number fw-bold">
		<Carousel
			direction="to top"
			trackOptions={{
				type: "infinite",
				showNavButtons: false,
				autoSlideDelay: 4000
			}}
		>
			<div>
				<p>90<span class="text-accent-400">%</span></p>
			</div>
			<div>
				<p>60<span class="text-accent-400">%</span></p>
			</div>
			<div>
				<p>30<span class="text-accent-400">%</span></p>
			</div>
		</Carousel>
	</div>
	<div
		class="about-us__statistics-description | fs-carousel-description fw-light"
	>
		<Carousel
			direction="to top"
			trackOptions={{
				type: "infinite",
				showNavButtons: false,
				autoSlideDelay: 4000
			}}
		>
			<div>
				<p>De nuestros proyectos son bajo el esquema diseño/construcción</p>
			</div>
			<div>
				<p>De nuestros proyectos son levantamientos topográficos</p>
			</div>
			<div>
				<p>De nuestros proyectos son saneamientos físico legal de predios</p>
			</div>
		</Carousel>
	</div>
</section>
