.about-us__main-picture {
  display: none;
}

@media (min-width: 69em) {
  .about-us__main-picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  .about-us__main-picture,
  .about-us__main-picture p:first-child {
    position: relative;
  }

  .about-us__main-picture::before {
    content: "";
    background: url(../../../../shared/assets/images/about-us-main-picture.webp)
      no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    inset: -6vw 0 0 0;
  }

  .about-us__main-picture div {
    position: absolute;
    left: var(--size-325);
    bottom: var(--size-325);
    text-transform: uppercase;
  }

  .about-us__main-picture p:first-child::after {
    content: "";
    height: 3px;
    width: 20%;
    background-color: var(--clr-accent-400);
    position: absolute;
    left: 0;
    bottom: var(--size-75);
  }
}

@media (min-width: 121em) {
  .about-us__main-picture::before {
    inset: -22.327% 0 0 0;
  }
}
