---

import "./MainPicture.css"

---

<section class='about-us__main-picture'>
  <div class='ff-primary text-neutral-100 fs-picture-info'>
    <p class='fw-regular padding-bottom-100'>Contratistas Generales</p>
    <p class='fw-light'>Diseño y construcción</p>
  </div>
</section>