---
import "./Description.css"
---

<section class="services__description container">
  <h2 class="fs-section-title highlighted text-neutral-100">
    Nuestros Servicios
  </h2>
  <p class="section-primary-text highlighted text-accent-400">
    Tecnología y compromiso para la satisfacción de nuestros clientes
  </p>
  <p class="text-align-justify">
    <span class="highlighted text-accent-400"
      >Orgullosos de nuestro trabajo.</span
    > Contamos con personal calificado, equipos de alta tecnología y la mejor
    logística para cada servicio. Nos aseguramos de que cada prestación se
    ejecute de acuerdo a los estándares exigidos por ley.
  </p>
</section>
