---
import "./Description.css"
---

<section class="about-us__description container">
  <div class="text-slide main" data-show>
    <h2 class="fs-section-title highlighted text-neutral-900">
      Acerca de nosotros
    </h2>
    <p class="section-primary-text highlighted text-primary-400">
      Operamos con los mejores estándares desde el año 2013
    </p>
    <p class="text-align-justify">
      <span class="highlighted text-accent-400">Conocemos lo que hacemos.</span>
       Ejecutamos proyectos de construcción e ingeniería sostenibles, utilizando
      las mejores tecnologías para garantizar la satisfacción y confiabilidad de
      nuestros clientes.
    </p>
    <p class="text-align-justify">
      Buscamos la mejor forma de garantizar el <span
        class="highlighted text-accent-400">éxito de cada proyecto,</span
      > cumpliendo con los estándares de Calidad, Seguridad y Medio Ambiente.
    </p>
    <button
      type="button"
      class="about-us__extra-info-button--toggler | btn"
      data-bg="primary">Más sobre nosotros</button
    >
  </div>
  <div class="text-slide complement | text-align-justify">
    <h3 class="highlighted text-primary-400">Nosotros</h3>
    <p>
      <span class="ff-primary">2G SERVICIOS GENERALES S.R.L</span> es una
      empresa dedicada a la ejecución de proyectos de construcción e ingeniería
      con más de diez años de experiencia en: levantamientos topográficos,
      movimiento de tierras, saneamiento físico legal de predios, construcción y
      mantenimiento en interiores y exteriores de edificaciones, trabajos de
      arco eléctrico y oxicorte, alquiler de maquinaria liviana para
      construcción y minería, sistemas de rebombeo de aguas superficiales.
    </p>
    <h3 class="highlighted text-primary-400">Nuestra visión</h3>
    <p>
      Ser reconocidos a nivel nacional como una empresa líder, sólida e
      innovadora en los sectores construcción y minería, brindando servicios que
      satisfacen íntegramente las expectativas de nuestros clientes, basándose
      en altos estándares de calidad, seguridad y cuidado del medio ambiente.
    </p>
    <h3 class="highlighted text-primary-400">Nuestra misión</h3>
    <p>
      Contribuir al éxito de nuestros clientes, desarrollando cada uno de sus
      proyectos con calidad, seguridad, cuidado del medio ambiente y asumiendo
      responsabilidad social.
    </p>
    <button
      class="about-us__extra-info-button--toggler | btn btn-back"
      data-bg="primary"
    >
      Volver</button
    >
  </div>
</section>
