section[data-mls-carousel] button[data-previous],
section[data-mls-carousel] button[data-next] {
  visibility: hidden;
  opacity: 0;
  display: grid;
  place-items: center;
  width: 1.35rem;
  height: 100%;
  background-color: var(--clr-accent-bg-opacity-75);
  transition-property: opacity, background-color;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

section[data-mls-carousel] button[data-show] {
  visibility: visible;
  opacity: 1;
}

section[data-mls-carousel] button[data-previous] svg,
section[data-mls-carousel] button[data-next] svg {
  width: 100%;
  aspect-ratio: 1;
}

section[data-mls-carousel] button[data-previous] path,
section[data-mls-carousel] button[data-next] path {
  color: black; /* Fallback */
  color: var(--clr-neutral-200);
}

@media (min-width: 50rem) {
  section[data-mls-carousel] button[data-previous],
  section[data-mls-carousel] button[data-next] {
    width: clamp(1.5rem, 1.5vw, 2rem);
  }

  section[data-mls-carousel] button[data-show] {
    background-color: var(--clr-accent-bg-opacity-75);
  }
}

@media (hover: hover) {
  section[data-mls-carousel] button[data-show]:hover,
  section[data-mls-carousel] button[data-show]:focus-visible {
    background-color: var(--clr-accent-bg-opacity-275);
  }
}
