.contact-us__info {
  max-width: 45ch;
  padding-top: var(--size-400);
}

.contact-us__info > p:first-of-type {
  position: relative;
}

.contact-us__info > p:first-of-type::after {
  position: absolute;
  content: "";
  width: var(--size-300);
  height: 3px;
  background-color: var(--clr-primary-400);
  top: 100%;
  left: 0;
}

@media (min-width: 69em) {
  .contact-us__info {
    padding-top: 0;
  }
}
