---

import "./Navbar.css";
import brandLogo from "../../assets/images/logo.webp";
import certificateLogo from "../../assets/images/logo-camara-comercio.webp";

---

<header class='navbar'>
  <div class='container navbar__container'>
      <img class='navbar__certificate' src={brandLogo.src} alt='Logo Cámara de Comercio y Producción Cajamarca'></img>
      <img class='navbar__brand' src={certificateLogo.src} alt='2G Logo'></img>
      <button class='navbar__mobile-menu-toggle' aria-controls='navbar__primary-navigation' aria-expanded='false'>
          <svg class='navbar__icon' id='navbar__drop' data-visible xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
              <path fill="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
          <svg class='navbar__icon' id='navbar__close' xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
          <span class='visually-hidden'>Menu</span>
      </button>
      <nav>
          <ul id='navbar__primary-navigation' class='navbar__links | ff-primary fw-light' aria-label='Navegación primaria'>
              <li>
                  <a href='#home'>Inicio</a>
              </li>
              <li>
                  <a href='#about-us'>Nosotros</a>
              </li>
              <li>
                  <a href='#services'>Servicios</a>
              </li>
              <li>
                  <a href='#projects'>Proyectos</a>
              </li>
              <li>
                  <a href='#contact-us'>Contacto</a>
              </li>
          </ul>
      </nav>
  </div>
</header>