.contact-us__form-container {
  padding-top: var(--size-325);
  padding-bottom: var(--size-400);
}

.contact-us__form-container p:first-of-type {
  padding-bottom: var(--size-25);
}

@media (min-width: 69em) {
  .contact-us__form-container {
    position: relative;
    width: 100%;
    padding: var(--size-800) min(10vw, var(--size-850));
    isolation: isolate;
  }

  .contact-us__form-container::after {
    position: absolute;
    content: "";
    background-color: var(--clr-neutral-100);
    box-shadow: 0 0 57px var(--clr-shadow-900);
    inset: -4vw 0 -2vw 0;
    z-index: -1;
  }

  .contact-us__form-container > p:first-child {
    display: none;
  }
}

@media (min-width: 69em) and (max-width: 85.375em) {
  .contact-us__form-container {
    padding-block: min(5vw, var(--size-800));
  }
}

@media (min-width: 121em) {
  .contact-us__form-container::after {
    inset: -7.48% 0 -3.742% 0;
  }
}
