---
import "./ContactUsSection.css";
import InfoSection from "./InfoSection/InfoSection.astro";
import FormSection from "./FormSection/FormSection.astro";
---

<section id="contact-us" class="contact-us">
  <InfoSection
    title="Contacta con nosotros"
    highlightText="Estamos a tu servicio"
  />
  <FormSection title="Envíanos un mensaje:" />
</section>
