---
import "./InfoField.css";

interface Props {
  fieldTitle: string;
}

const { fieldTitle } = Astro.props;
---

<div class="contact-us__field">
  <p class="contact-us__field-title">{fieldTitle}</p>
  <slot />
</div>
