---
import "./Card.css"

interface Props {
  mediaSrc: string
  mediaAltText: string
  cardTitle: string
  cardDescription: string
}

const { mediaSrc, mediaAltText, cardTitle, cardDescription } = Astro.props
---

<div class="card" data-section="services">
  <div class="card__media">
    <img loading="lazy" src={mediaSrc} alt={mediaAltText} />
  </div>
  <div class="card__body">
    <h3>{cardTitle}</h3>
    <p>
      {cardDescription}
    </p>
  </div>
</div>
