---
import "./CustomSelect.css"

interface Props {
  id?: string
  className?: string
  optionsArray: Array<string>
}

const { id, className, optionsArray } = Astro.props
---

<select data-mls-select id={id} class={className}>
  {
    optionsArray.map((option, i) =>
      i === 0 ? <option selected>{option}</option> : <option>{option}</option>
    )
  }
</select>
