---
import "./CustomSelect.css";

interface Props {
  id: string;
  optionsArray: Array<string>;
}

const { id, optionsArray } = Astro.props;
---

<select id={id}>
  {
    optionsArray.map((option, i) =>
      i === 0 ? <option selected>{option}</option> : <option>{option}</option>,
    )
  }
</select>
