---
import "./ServicesSection.css";
import Description from "./Description/Description.astro";
import ServicesGrid from "./ServicesGrid/ServicesGrid.astro";
---

<section id="services" class="services">
  <Description />
  <ServicesGrid />
</section>
