---

import "./AboutUs.css";
import Description from "./Description/Description.astro";
import MainPicture from "./MainPicture/MainPicture.astro";
import Statistics from "./Statistics/Statistics.astro";
---

<section id='about-us' class='about-us'>
  <Description />
  <MainPicture />
  <Statistics />
</section>