---
import "./ProjectsSection.css";
import Intro from "../Intro/Intro.astro";
import ProjectsGrid from "../ProjectsGrid/ProjectsGrid.astro";
---

<section id="projects" class="projects">
  <Intro />
  <ProjectsGrid />
</section>
